name: Build GKI

on:
  workflow_call:
    inputs:
      TODO:
        type: string
      KSU:
        type: string
      KSU_SUSFS:
        type: string
      KSU_MANUAL_HOOK:
        type: string
      LAST_BUILD:
        type: string
      KERNEL_VERSION:
        type: string

  workflow_dispatch:
    inputs:
      TODO:
        description: To do
        default: "kernel"
        type: choice
        options:
          - "kernel"
          - "defconfig"

      KSU:
        description: KernelSU variant
        default: "Rissu"
        type: choice
        options:
          - "None"
          - "Next"
          - "Rissu"
          - "Biasa"

      KSU_SUSFS:
        description: Include SUSFS?
        default: "true"
        type: choice
        options:
          - "true"
          - "false"

      KSU_MANUAL_HOOK:
        description: Use KSU Manual Hooks?
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

      KERNEL_VERSION:
        description: Which kernel version do you want to build?
        default: "5.10"
        type: choice
        options:
          - "6.6"
          - "6.1"
          - "5.10"

env:
  MAN_DISABLE: true
  DEBIAN_FRONTEND: noninteractive

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Determine Build Status
        run: |
          if [ "${{ toJson(github.event.inputs) }}" == "null" ]; then
            echo "STATUS=RELEASE" >> $GITHUB_ENV
            echo "TRIGGER=workflow_call" >> $GITHUB_ENV
          else
            echo "STATUS=BETA" >> $GITHUB_ENV
            echo "TRIGGER=workflow_dispatch" >> $GITHUB_ENV
          fi

      - name: Validate Inputs and Secrets
        env:
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }} # telegram chat id
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }} # telegram bot token
          GH_TOKEN: ${{ secrets.GH_TOKEN }} # github token
          KSU: ${{ inputs.KSU }}
          KSU_SUSFS: ${{ inputs.KSU_SUSFS }}
          KSU_MANUAL_HOOK: ${{ inputs.KSU_MANUAL_HOOK }}
        run: |
          _error() {
              echo "âŒ ERROR: $*"
              let ret++
          }

          ret=0
          # Check Secrets
          if [[ -z "$TG_CHAT_ID" ]]; then
            _error "Missing TG_CHAT_ID secret (Telegram Chat ID)"
          fi
          if [[ -z "$TG_BOT_TOKEN" ]]; then
            _error "Missing TG_BOT_TOKEN secret (Telegram Bot Token)"
          fi
          if [[ -z "$GH_TOKEN" ]]; then
            _error "Missing GH_TOKEN secret (GitHub PAT)"
          fi

          # Check KernelSU variants
          if [[ $KSU == "None" && $KSU_SUSFS == "true" ]]; then
              _error "Cannot use SuSFS without KernelSU"
          fi
          if [[ $KSU == "None" && $KSU_MANUAL_HOOK == "true" ]]; then
            _error "Cannot use KSU Manual Hooks without KernelSU!"
          fi

          if [[ $ret -gt 0 ]]; then
            exit $ret
          fi

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git curl repo build-essential bc bison flex libssl-dev \
            libelf-dev python3 python3-pip unzip zip rsync libncurses-dev lld ccache \
            cmake ninja-build dwarves cpio
          pip install lxml

      - name: Setup Environment Variables
        run: |
          # Constants from build.sh
          WORKDIR="$(pwd)"
          echo "WORKDIR=$WORKDIR" >> $GITHUB_ENV
          
          if [ "${{ inputs.KERNEL_VERSION }}" == "6.6" ]; then
            echo "RELEASE=v0.3" >> $GITHUB_ENV
          elif [ "${{ inputs.KERNEL_VERSION }}" == "5.10" ]; then
            echo "RELEASE=v0.2" >> $GITHUB_ENV
          elif [ "${{ inputs.KERNEL_VERSION }}" == "6.1" ]; then
            echo "RELEASE=v0.1" >> $GITHUB_ENV
          fi
          
          KERNEL_NAME="BoltX"
          echo "KERNEL_NAME=$KERNEL_NAME" >> $GITHUB_ENV
          
          USER="BoltX"
          echo "USER=$USER" >> $GITHUB_ENV
          
          HOST="BoltX"
          echo "HOST=$HOST" >> $GITHUB_ENV
          
          TIMEZONE="Asia/Jakarta"
          echo "TIMEZONE=$TIMEZONE" >> $GITHUB_ENV
          
          if [ "${{ inputs.KERNEL_VERSION }}" == "6.6" ]; then
            echo "KERNEL_REPO=https://github.com/linastorvaldz/kernel-android15-6.6" >> $GITHUB_ENV
            echo "ANYKERNEL_BRANCH=android15-6.6" >> $GITHUB_ENV
            echo "KERNEL_BRANCH=android15-6.6-2025-01" >> $GITHUB_ENV
          elif [ "${{ inputs.KERNEL_VERSION }}" == "6.1" ]; then
            echo "KERNEL_REPO=https://github.com/linastorvaldz/kernel-android14-6.1" >> $GITHUB_ENV
            echo "ANYKERNEL_BRANCH=android14-6.1" >> $GITHUB_ENV
            echo "KERNEL_BRANCH=android14-6.1-lts" >> $GITHUB_ENV
          elif [ "${{ inputs.KERNEL_VERSION }}" == "5.10" ]; then
            echo "KERNEL_REPO=https://github.com/linastorvaldz/kernel-android12-5.10" >> $GITHUB_ENV
            echo "ANYKERNEL_BRANCH=android12-5.10" >> $GITHUB_ENV
            echo "KERNEL_BRANCH=master" >> $GITHUB_ENV
          fi
          
          # Set Kernel variant
          case "${{ inputs.KSU }}" in
            "Next") echo "VARIANT=KSUN" >> $GITHUB_ENV ;;
            "Biasa") echo "VARIANT=KSU" >> $GITHUB_ENV ;;
            "Rissu") echo "VARIANT=RKSU" >> $GITHUB_ENV ;;
            "None") echo "VARIANT=NKSU" >> $GITHUB_ENV ;;
          esac
          
          if [ "${{ inputs.KSU_SUSFS }}" == "true" ]; then
            echo "VARIANT=${VARIANT}+SuSFS" >> $GITHUB_ENV
          fi

      - name: Set Timezone
        run: |
          sudo timedatectl set-timezone "$TIMEZONE" || export TZ="$TIMEZONE"

      - name: Clone Kernel Source
        run: |
          mkdir -p ksrc
          cd ksrc
          git clone -q --depth=1 $KERNEL_REPO -b $KERNEL_BRANCH .
          
          LINUX_VERSION=$(make kernelversion)
          echo "LINUX_VERSION=$LINUX_VERSION" >> $GITHUB_ENV
          LINUX_VERSION_CODE=${LINUX_VERSION//./}
          echo "LINUX_VERSION_CODE=$LINUX_VERSION_CODE" >> $GITHUB_ENV
          
          cd $WORKDIR

      - name: Setup Custom Clang
        run: |
          CLANG_DIR="$WORKDIR/clang"
          CLANG_BIN="${CLANG_DIR}/bin"
          echo "CLANG_DIR=$CLANG_DIR" >> $GITHUB_ENV
          echo "CLANG_BIN=$CLANG_BIN" >> $GITHUB_ENV
          
          mkdir -p $CLANG_DIR
          
          if [ "${{ inputs.KERNEL_VERSION }}" == "5.10" ]; then
            if [ "${{ env.CLANG_VERSION }}" == "r536225" ]; then
              echo "Setting up Clang-19 (r536225)..."
              CLANG_VER="clang-r536225"
              CLANG_URL="https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/main-kernel-2025/clang-r536225.tar.gz"
            else
              echo "Setting up Clang-20 (r547379)..."
              CLANG_VER="clang-r547379"
              CLANG_URL="https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/62cdcefa89e31af2d72c366e8b5ef8db84caea62/clang-r547379.tar.gz"
            fi
            
            echo "CLANG_VER=$CLANG_VER" >> $GITHUB_ENV
            
            mkdir -p $CLANG_DIR/$CLANG_VER
            cd $CLANG_DIR
            curl -L "${CLANG_URL}" | tar -xz -C $CLANG_VER
            
            # Fix Symlink untuk kompatibilitas script build
            rm -rf clang-r416183b
            ln -sf $CLANG_VER clang-r416183b
          else
            # For other kernel versions, use original logic
            wget -qO clang-archive "$CLANG_URL"
            case "$(basename $CLANG_URL)" in
              *.tar.* | *.tgz)
                tar -xf clang-archive -C "$CLANG_DIR"
                ;;
              *.7z)
                7z x clang-archive -o${CLANG_DIR}/ -bd -y > /dev/null
                ;;
              *)
                echo "Unsupported file format"
                exit 1
                ;;
            esac
            rm clang-archive
          fi
          
          # Clone GNU Assembler
          GAS_DIR="$WORKDIR/gas"
          echo "GAS_DIR=$GAS_DIR" >> $GITHUB_ENV
          git clone --depth=1 -q \
            https://android.googlesource.com/platform/prebuilts/gas/linux-x86 \
            -b main \
            "$GAS_DIR"
          
          export PATH="${CLANG_BIN}:${GAS_DIR}:$PATH"
          echo "PATH=${PATH}" >> $GITHUB_ENV
          
          # Extract clang version
          COMPILER_STRING=$(clang -v 2>&1 | head -n 1 | sed 's/(https..*//' | sed 's/ version//')
          echo "COMPILER_STRING=$COMPILER_STRING" >> $GITHUB_ENV

      - name: Setup KernelSU
        run: |
          cd ksrc
          
          # Remove existing KernelSU drivers
          for KSU_PATH in drivers/staging/kernelsu drivers/kernelsu KernelSU; do
            if [ -d $KSU_PATH ]; then
              echo "KernelSU driver found in $KSU_PATH, Removing..."
              KSU_DIR=$(dirname "$KSU_PATH")

              [ -f "$KSU_DIR/Kconfig" ] && sed -i '/kernelsu/d' $KSU_DIR/Kconfig
              [ -f "$KSU_DIR/Makefile" ] && sed -i '/kernelsu/d' $KSU_DIR/Makefile

              rm -rf $KSU_PATH
            fi
          done

          # Install kernelsu
          case "${{ inputs.KSU }}" in
            "Next") 
              if [ "${{ inputs.KSU_SUSFS }}" == "true" ]; then
                git clone https://github.com/linastorvaldz/KernelSU-Next -b dev-susfs KernelSU-Next
              else
                git clone https://github.com/KernelSU-Next/KernelSU-Next -b dev KernelSU-Next
              fi
              ;;
            "Biasa") git clone https://github.com/tiann/KernelSU -b main KernelSU ;;
            "Rissu") 
              if [ "${{ inputs.KSU_SUSFS }}" == "true" ]; then
                git clone https://github.com/rsuntk/KernelSU -b susfs-rksu-master KernelSU
              else
                git clone https://github.com/rsuntk/KernelSU -b main KernelSU
              fi
              ;;
          esac
          
          # Apply MamboSU Manager patch for Rissu
          if [ "${{ inputs.KSU }}" == "Rissu" ]; then
            cd KernelSU
            curl -LSs "https://raw.githubusercontent.com/Kingfinik98/gki-builder/refs/heads/6.x/kernel-patches/ksu/rksu-add-mambosu-manager-support.patch" | patch -p1
            cd ..
          fi
          
          cd $WORKDIR

      - name: Setup SUSFS
        if: inputs.KSU_SUSFS == 'true'
        run: |
          cd ksrc
          
          # Kernel-side
          echo "Applying kernel-side susfs patches"
          SUSFS_DIR="$WORKDIR/susfs"
          SUSFS_PATCHES="${SUSFS_DIR}/kernel_patches"
          if [ "${{ inputs.KERNEL_VERSION }}" == "6.6" ]; then
            SUSFS_BRANCH=gki-android15-6.6
          elif [ "${{ inputs.KERNEL_VERSION }}" == "6.1" ]; then
            SUSFS_BRANCH=gki-android14-6.1
          elif [ "${{ inputs.KERNEL_VERSION }}" == "5.10" ]; then
            SUSFS_BRANCH=gki-android12-5.10
          fi
          git clone --depth=1 -q https://gitlab.com/simonpunk/susfs4ksu -b $SUSFS_BRANCH $SUSFS_DIR
          cp -R $SUSFS_PATCHES/fs/* ./fs
          cp -R $SUSFS_PATCHES/include/* ./include
          patch -p1 < $SUSFS_PATCHES/50_add_susfs_in_${SUSFS_BRANCH}.patch || true
          
          if [ $LINUX_VERSION_CODE -eq 6630 ]; then
            patch -p1 < kernel-patches/susfs/namespace.c_fix.patch
            patch -p1 < kernel-patches/susfs/task_mmu.c_fix.patch
          elif [ $LINUX_VERSION_CODE -eq 6658 ]; then
            patch -p1 < kernel-patches/susfs/task_mmu.c_fix-k6.6.58.patch
          elif [ $(echo "$LINUX_VERSION_CODE" | head -c2) -eq 61 ]; then
            patch -p1 < kernel-patches/susfs/fs_proc_base.c-fix-k6.1.patch
          fi
          if [ $(echo "$LINUX_VERSION_CODE" | head -c1) -eq 6 ]; then
            patch -p1 < kernel-patches/susfs/fix-statfs-crc-mismatch-susfs.patch
          fi
          SUSFS_VERSION=$(grep -E '^#define SUSFS_VERSION' ./include/linux/susfs.h | cut -d' ' -f3 | sed 's/"//g')
          echo "SUSFS_VERSION=$SUSFS_VERSION" >> $GITHUB_ENV
          
          # KernelSU-side
          if [ "${{ inputs.KSU }}" == "Next" ] || [ "${{ inputs.KSU }}" == "Biasa" ]; then
            echo "Applying kernelsu-side susfs patches.."
            
            if [ "${{ inputs.KSU }}" == "Next" ]; then
              cd KernelSU-Next
            elif [ "${{ inputs.KSU }}" == "Biasa" ]; then
              cd KernelSU
            fi
            
            patch -p1 < $SUSFS_PATCHES/KernelSU/10_enable_susfs_for_ksu.patch
            
            if [ "${{ inputs.KSU }}" != "Next" ]; then
              cd ..
            fi
          fi
          
          cd $WORKDIR

      - name: Configure Defconfig
        run: |
          cd ksrc
          
          # Create defconfig
          DEFCONFIG="arch/arm64/configs/gki_defconfig"
          
          # KernelSU Configuration
          if [ "${{ inputs.KSU }}" != "None" ]; then
            cat <<EOF >> "$DEFCONFIG"
            # KernelSU Configuration
            CONFIG_KSU=y
            CONFIG_KPM=n
            CONFIG_KSU_MANUAL_HOOK=y
            CONFIG_KSU_KPROBES_HOOK=n
            EOF
            
            # SUSFS Configuration
            if [ "${{ inputs.KSU_SUSFS }}" == "true" ]; then
              cat <<EOF >> "$DEFCONFIG"
              # SUSFS Configuration
              CONFIG_KSU_SUSFS=y
              CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y
              CONFIG_KSU_SUSFS_SUS_PATH=y
              CONFIG_KSU_SUSFS_SUS_MOUNT=y
              CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
              CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
              CONFIG_KSU_SUSFS_SUS_KSTAT=y
              CONFIG_KSU_SUSFS_SUS_OVERLAYFS=y
              CONFIG_KSU_SUSFS_TRY_UMOUNT=y
              CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
              CONFIG_KSU_SUSFS_SPOOF_UNAME=y
              CONFIG_KSU_SUSFS_ENABLE_LOG=y
              CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
              CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
              CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
              CONFIG_KSU_SUSFS_SUS_SU=y
              CONFIG_KSU_SUSFS_SUS_KSTAT_SPOOF_GENERIC=y
              CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSTAT=y
              EOF
            fi
          fi
          
          # Additional configurations
          cat <<EOF >> "$DEFCONFIG"
          CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
          CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
          CONFIG_ENERGY_MODEL=y
          CONFIG_HZ_300=y
          CONFIG_CPU_FREQ=y
          CONFIG_HIGH_RES_TIMERS=y
          CONFIG_CLEANCACHE=y
          CONFIG_IP_NF_TARGET_TTL=y
          CONFIG_IP6_NF_TARGET_HL=y
          CONFIG_IP6_NF_MATCH_HL=y
          CONFIG_TCP_CONG_ADVANCED=y
          CONFIG_TCP_CONG_BBR=y
          CONFIG_NET_SCH_FQ=y
          CONFIG_TCP_CONG_BIC=n
          CONFIG_TCP_CONG_WESTWOOD=n
          CONFIG_TCP_CONG_HTCP=n
          CONFIG_DEFAULT_BBR=y
          CONFIG_TMPFS_XATTR=y
          CONFIG_TMPFS_POSIX_ACL=y
          EOF
          
          # Handle Kernel Name / Branding
          if [ ! -z "${{ inputs.KERNEL_NAME }}" ]; then
            echo "Using custom kernel name: ${{ inputs.KERNEL_NAME }}"
            BRAND="-${{ inputs.KERNEL_NAME }}"
          else
            BRAND=""
          fi
          
          echo "CONFIG_LOCALVERSION=\"$BRAND\"" >> "$DEFCONFIG"
          echo "CONFIG_LOCALVERSION_AUTO=n" >> "$DEFCONFIG"
          
          cd $WORKDIR

      - name: Apply Compatibility Patches
        run: |
          cd ksrc
          
          # Xiaomi Compatibility
          sed -i '/pr_warn.*disagrees about version of symbol.*/,+1 s/.*/return 1;/' kernel/module.c
          sed -i '/^static int drm_atomic_check_valid_clones/,/^}/d' drivers/gpu/drm/drm_atomic_helper.c
          sed -i '/ret = drm_atomic_check_valid_clones/,/return ret;/d' drivers/gpu/drm/drm_atomic_helper.c
          
          cd $WORKDIR

      - name: Final Build Config & Version Fix
        run: |
          cd ksrc
          
          # Update build config for Clang version
          if [ -f "build.config.gki.aarch64" ]; then
            sed -i "s/clang-r[0-9]*[a-z]*/${CLANG_VER}/g" build.config.gki.aarch64
          fi
          if [ -f "build.config.common" ]; then
            sed -i "s/clang-r[0-9]*[a-z]*/${CLANG_VER}/g" build.config.common
          fi
          
          # Disable check_defconfig
          if [ -f "build.config.gki" ]; then
            sed -i 's/check_defconfig//' ./build.config.gki
          fi
          
          # Handle Kernel Name / Branding
          DEFCONFIG="./arch/arm64/configs/gki_defconfig"
          
          # Hapus settingan lama
          sed -i '/^CONFIG_LOCALVERSION=/d' "$DEFCONFIG"
          
          if [ ! -z "${{ inputs.KERNEL_NAME }}" ]; then
            echo "Using custom kernel name: ${{ inputs.KERNEL_NAME }}"
            BRAND="-${{ inputs.KERNEL_NAME }}"
          else
            BRAND=""
          fi
          
          # FIX: Paksa script setlocalversion untuk HANYA output brand kita
          # Ini mencegah tag git upstream (seperti Rama982-RE...) masuk ke nama kernel
          echo "echo \"$BRAND\"" > scripts/setlocalversion
          chmod +x scripts/setlocalversion
          
          echo "CONFIG_LOCALVERSION=\"$BRAND\"" >> "$DEFCONFIG"
          echo "CONFIG_LOCALVERSION_AUTO=n" >> "$DEFCONFIG"
          
          cd $WORKDIR

      - name: Build Kernel
        run: |
          cd ksrc
          
          export CC="ccache clang"
          export USE_CCACHE=1
          export CCACHE_DIR="/tmp/ccache"
          ccache -M 5G
          
          # Declare needed variables
          export KBUILD_BUILD_USER="$USER"
          export KBUILD_BUILD_HOST="$HOST"
          export KBUILD_BUILD_TIMESTAMP=$(date)
          export KCFLAGS="-w"
          
          # Set up make args
          if [ $(echo "$LINUX_VERSION" | head -c1) -eq 6 ]; then
            MAKE_ARGS=(
              LLVM=1
              ARCH=arm64
              CROSS_COMPILE=aarch64-linux-gnu-
              CROSS_COMPILE_COMPAT=arm-linux-gnueabi-
              -j$(nproc --all)
              O=out
            )
          else
            MAKE_ARGS=(
              LLVM=1
              LLVM_IAS=1
              ARCH=arm64
              CROSS_COMPILE=aarch64-linux-gnu-
              CROSS_COMPILE_COMPAT=arm-linux-gnueabi-
              -j$(nproc --all)
              O=out
            )
          fi
          
          echo "Starting build with LTO=thin..."
          LTO=thin make ${MAKE_ARGS[@]} gki_defconfig
          LTO=thin make ${MAKE_ARGS[@]}
          
          cd $WORKDIR

      - name: Upload Image
        uses: actions/upload-artifact@v4
        with:
          name: Image${{ env.VARIANT }}-${{ github.run_number }}
          path: ksrc/out/**/dist/Image